# This is Git's per-user configuration file.
[user]
	name = Karl Horky
	email = karl.horky@gmail.com

	# Retrieve GPG secret key id from this command:
	# gpg --list-secret-keys --with-colons | awk -F: '$1 == "sec" {print $5}'
	# https://superuser.com/questions/1150165/get-list-of-secret-key-ids
	#
	# If this is still not working or returning the dreaded
	# "git error: gpg failed to sign the data", then you may need
	# to do additional steps from here:
	# https://sabbour.me/setting-up-signed-git-commits-on-macos/
	# https://gist.github.com/karlhorky/65e73461225a7f7e6877589c9b10faaa
	signingkey = XXXXXXX
[init]
	# Set default branch to `main`
	defaultBranch = main
[push]
	default = simple
[fetch]
	# Before fetching, remove remote-tracking branches that no longer exist
	prune = true
	# Before fetching, remove tags that no longer exist
	pruneTags = true
[core]
	editor = /opt/homebrew/bin/vim
	pager = diff-so-fancy | less --tabs=2 -RFX
[interactive]
	# disabled until github.com/so-fancy/diff-so-fancy/pull/172 is resolved :(
	# diffFilter = diff-so-fancy --patch-mode | less --tabs=2 -RFX
	diffFilter = diff-highlight
[commit]
	gpgsign = true
[gpg]
  program = gpg
[branch]
	# Sort branches by committer date (most recent first)
	sort = -committerdate
[tag]
	# Sort tags by version number (most recent first)
	sort = version:refname
[diff]
	# Improve diff readability
	algorithm = histogram
	# Show different colors for moved lines
	colorMoved = plain
[diff-so-fancy]
	first-run = false
