"*":
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.js": [
        "jsx"
      ]
      themes: [
        "atom-dark-ui"
        "atom-dark-syntax"
      ]
      destroyEmptyPanes: false
      telemetryConsent: "limited"
      titleBar: "hidden"
  editor:
    softWrap: true
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "cd163e7e-4a2a-7f81-0393-4342c6ba2991"
  "linter-ui-default":
    panelHeight: 69
  "one-dark-ui":
    tabSizing: "Minimum"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
  "save-session":
    dataSaveFolder: "/Users/k/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
