# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.platform-darwin':
  'ctrl-cmd-r': 'tree-view:reveal-active-file'
  'cmd-k b': 'tree-view:toggle'
  'ctrl-1': 'window:focus-previous-pane'
  'ctrl-2': 'window:focus-next-pane'

'body':
  'shift-cmd-W': 'tabs:close-all-tabs'

'.atom-text-editor.vim-mode.command-mode':
  'escape': 'core:cancel'
